baselines/SF-TQA/data
baselines/SF-TQA/mark/data
baselines/SF-TQA/rank/log
baselines/SF-TQA/run/log
baselines/SF-TQA/runs


baselines/EXAQT/_benchmarks
baselines/EXAQT/_cache
baselines/EXAQT/_data
baselines/EXAQT/_intermediate_representations
baselines/EXAQT/_out
baselines/EXAQT/_results
baselines/EXAQT/config/dataset_for_test_pipeline
baselines/EXAQT/config/timequestions
baselines/EXAQT/nerd_stat.txt
baselines/EXAQT/eval_tag_iid.log
baselines/EXAQT/exaqt/nerd/BLINK/_results
baselines/EXAQT/exaqt/nerd/BLINK/img
baselines/EXAQT/exaqt/nerd/BLINK/models